body{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 18, 18);
}
.heading{
    color: white;

}
.display{
    height: 200px;
    background-color: rgb(38, 37, 36);
        display: flex;
    justify-content: center;
    align-items: center;
}